.clients {
padding-top: 60px;
padding-bottom: 60px;

&__title {
  
font-weight: 700;
font-size: 28px;
line-height: 1.18;
text-align: center;
margin-bottom: 30px;
}

&__icon {

fill: #afb1b8;
  
transition: fill var(--animation);
}

&__list {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  // gap: 30px;
  justify-content: center;
}

&__item {
display: flex;  
box-sizing: border-box;

border: 1px solid #afb1b8;
border-radius: 4px;
  
    
transition: border var(--animation), border-radius var(--animation);
  
  &:hover {
  border-color: #2196f3;
  }
  &:hover .clients__icon {
  fill: #2196f3;
  }
}

.clients__link {
padding: 16px 32px;

  &:focus .clients__icon {
  fill: #2196f3;
  }
  &:focus {
  border-color: #2196f3;
  }
}
// @media screen and (min-width: 480px) {
  &__list {
    display: flex;
    flex-wrap: wrap;  
    margin: -15px;            
    }
    &__item {
    width: calc((100% - 4 * 15px) / 2);
    justify-content: center;
    margin: 15px;
    } 
// }
@media screen and (min-width: 768px) {
  &__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;     
    }
    &__item {
    width: calc((100% - 6 * 15px) / 3);
    justify-content: center;
    } 
}
@media screen and (min-width: 1200px) {
  padding-top: 94px;
  padding-bottom: 94px;
  &__list {
    margin: 0;
    gap: 30px;
  }
  &__item {
    margin: 0;
    flex-wrap: nowrap;
    width: 170px;
    height: 92px;
  }
  &__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
}
